<!DOCTYPE html>
<html lang="en">
<head>
	<link href="css/style.css" rel="stylesheet" >
  <meta charset="utf-8" >
	<title>Morning Sunshine!</title>
	<script>setTimeout(function(){
		window.scrollTo(0,0); 
	}, 4000);</script>
</head>
<body>
<div id="wrapper">
	<div id="header">
		<h1><%= hello_message %></h1>
		<h2><%= string_date %></h2>
	</div><!--header-->
	<div id="content">
		<div class="container">
			<h2>Forecast</h2>
			<% unless weather_message.nil? %>
  			<p><%= weather_message %></p>
  		<% end %>
			<h3>Today's Forecast: </h3>
  		<p><%= "#{day[0][:forecast]}, High: #{day[0][:high]}, Low: #{day[0][:low]}" %></p>
			<h3>Tomorrow's Forecast: </h3>
  		<p><%= "#{day[1][:forecast]}, High: #{day[1][:high]}, Low: #{day[1][:low]}" %></p>
  	</div>
  	<div class="container">
  		<h2>Calendar</h2>
  		<p>Displays Google Calendar</p>
  	</div>
  	<div class="container">
  		<h2>Emails</h2>
  		<p>Displays how many unread emails I have and all my unread emails from the last three days</p>
  	</div>
  	<div class="container workflowy">
  		<h2>Workflowy</h2>
  		<iframe src="https://workflowy.com" width="505" height="400"></iframe>
  	</div>
  </div><!--content-->
<div id="footer">
  <ul><li>Created by <a href="http://katemcfaul.com" target=_blank >Kate McFaul</a></li></ul>
</div><!--footer-->
</div><!--wrapper-->
</body>
</html>